.well.wikipedia {
    background-color: #283240;
	margin-bottom:-1px;
	color:white;
}

.well.wikipedia a {
	color:#EFB105;
	text-decoration:underline;
}

.well.wikipedia a:hover {
	color:white;
	text-decoration:none;
}